<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blind Buy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <h1>Blind Buy</h1>
    <p>Skip the smell tests and find your perfect scent to match your occasion and style</p>
    <p>Blind Buy's database of over 9000 different Fragrences gurantees that you find your perfect match, and the confidence needed to Blind Buy</p>
    
    <div>
        <form method="POST" action="/">
        <input type="checkbox" name=""
        </form>
    </div>
    {% block body %}{% endblock %}
</body>
</html>

